<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\RetailerOfferGroupPrice\Api\Data\OfferGroupPriceInterface" type="Smile\RetailerOfferGroupPrice\Model\Data\OfferGroupPrice" />
    <preference for="Smile\RetailerOfferGroupPrice\Api\OfferGroupPriceRepositoryInterface" type="Smile\RetailerOfferGroupPrice\Model\OfferGroupPriceRepository" />
    <preference for="Smile\RetailerOfferGroupPrice\Api\Data\GroupPriceItemResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Smile\RetailerOfferGroupPrice\Api\Data\OfferGroupPriceInterface"
                      xsi:type="string">Smile\RetailerOfferGroupPrice\Api\OfferGroupPriceRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Smile\RetailerOfferGroupPrice\Api\Data\OfferGroupPriceInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Smile\RetailerOfferGroupPrice\Api\Data\OfferGroupPriceInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Smile\RetailerOfferGroupPrice\Api\Data\OfferGroupPriceInterface::FIELD_ID</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Smile\RetailerOfferGroupPrice\Api\Data\OfferGroupPriceInterface"
                      xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Smile\Offer\Api\Data\OfferInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="create_offer_customer_price" xsi:type="string">Smile\RetailerOfferGroupPrice\Model\Offer\CustomerPriceSaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="update_offer_customer_price" xsi:type="string">Smile\RetailerOfferGroupPrice\Model\Offer\CustomerPriceSaveHandler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="read_offer_customer_price" xsi:type="string">Smile\RetailerOfferGroupPrice\Model\Offer\CustomerPriceReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Add customer group price data in offer -->
    <type name="Smile\Offer\Model\Product\Indexer\Fulltext\Datasource\OfferData">
        <plugin name="Smile\RetailerOfferGroupPrice\Plugin\Model\Product\Indexer\Fulltext\Datasource\OfferDataPlugin"
                type="Smile\RetailerOfferGroupPrice\Plugin\Model\Product\Indexer\Fulltext\Datasource\OfferDataPlugin"
                sortOrder="10"
        />
    </type>

    <!-- Add data into UI Component -->
    <type name="Smile\RetailerOffer\Ui\Component\Offer\Form\DataProvider">
        <plugin name="smile_retailer_offer_group_price_add_data" type="Smile\RetailerOfferGroupPrice\Plugin\Ui\Component\Offer\Form\DataProviderPlugin" />
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="addRetailerOfferData" type="Smile\RetailerOffer\Plugin\ProductPlugin" sortOrder="20" />
        <plugin name="addRetailerOfferGroupPriceData" type="Smile\RetailerOfferGroupPrice\Plugin\ProductPlugin" sortOrder="10" />
    </type>
    <type name="Smile\Offer\Model\ResourceModel\Offer\Collection">
        <plugin name="smile_offer_group_price_add_extension_attributes" type="Smile\RetailerOfferGroupPrice\Plugin\OfferCollectionPlugin" />
    </type>

    <!-- @Fixme - Wait elasticsuite 2.5.3 -->
    <type name="Smile\ElasticsuiteCore\Search\Request\Builder">
        <arguments>
            <argument name="aggregationBuilder" xsi:type="object">Smile\RetailerOfferGroupPrice\Search\Request\Aggregation\AggregationBuilder</argument>
            <argument name="sortOrderBuilder" xsi:type="object">Smile\RetailerOfferGroupPrice\Search\Request\SortOrder\SortOrderBuilder</argument>
        </arguments>
    </type>
    <type name="Smile\ElasticsuiteCatalogOptimizer\Model\Optimizer\Preview\RequestBuilder">
        <arguments>
            <argument name="sortOrderBuilder" xsi:type="object">Smile\RetailerOfferGroupPrice\Search\Request\SortOrder\SortOrderBuilder</argument>
        </arguments>
    </type>

    <!-- @fixme find a solution for sub-filter -->
    <type name="Smile\ElasticsuiteCore\Index\Mapping\Field">
        <plugin name="Smile\RetailerOfferGroupPrice\Plugin\Index\Mapping\FieldPlugin" type="Smile\RetailerOfferGroupPrice\Plugin\Index\Mapping\FieldPlugin" sortOrder="10" />
    </type>
</config>
